<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key</title>
    <link rel="stylesheet" href="./css/key.css">
</head>
<body>
    <div class="container">
        <div class="keyBox">
            <div class="keyTitle">
                <p>KNU DRIVE</p>
            </div>
            <div class="putKey">
                <form action="/goroom" method="post">
                    <%if(!access){%>
                    <div class="input"><input type="text" placeholder="press key" name="key" required></div>
                    <%}else{%>
                        <input type="hidden" name="room" value="<%=room%>" >
                    <%}%>
                    <div class="input"><input type="submit" value="Drive room 접속"></div>
                </form>
            </div>
            <div class="hor" id="hor"></div>
            <a href="/logout" target="_self"><div class="backToLogin">돌아가기</div></a>
        </div>
    </div>

</body>
</html>