@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .container{
            width: 100%;
            height:100vh;
            background-color: #eee;
            display: flex;
            position:relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .container .loginBox{
            width:400px;
            height: 500px;
            background-color: #fff;
            z-index: 1;
            border-radius: 30px;
            padding: 25px 25px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container .loginBox .loginTitle{
            text-align: center;
            margin-bottom: 50px;
        }
        .container .loginBox .loginTitle p{
            font-size: 25px;
            font-weight:bolder;
        }
        .container .loginBox .loginForm{
            width: 350px;
            height: 200px;
            margin-bottom: 25px;
            display:flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
        .container .loginBox .loginForm input{
            width: 100%;
            outline: none;
            background: transparent;
            border: none;
            box-shadow: none;
            padding: 10px 0;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 300;
            color: #000;
            border-bottom: 2px solid #FDD20E;
        }
        .container .loginBox .loginForm input::placeholder{
            color:#000
        }
        .container .loginBox .loginForm input[type="submit"]{
            font-size:20px;
            font-weight: bolder;
            color: #fff;
            border:none;
            background-color: #FDD20E;
            border-radius: 10px;
            margin-top:40px;
            cursor: pointer;
        }
        .container .loginBox .newUserForm{
            width: 350px;
            height: 200px;
            margin-bottom: 25px;
            display:flex;
            position: relative;
            align-items: center;
            justify-content: center;
            display:none;
        }
        .container .loginBox .newUserForm input{
            width: 100%;
            outline: none;
            background: transparent;
            border: none;
            box-shadow: none;
            padding: 10px 0;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 300;
            color: #000;
            border-bottom: 2px solid #c72d1b;
        }
        .container .loginBox .newUserForm input::placeholder{
            color:#000
        }
        .container .loginBox .newUserForm input[type="submit"]{
            font-size:20px;
            font-weight: bolder;
            color: #fff;
            border:none;
            background-color: #c72d1b;
            border-radius: 10px;
            margin-top:40px;
            cursor: pointer;
        }
        .container .loginBox .hor{
            margin: 5px 20px 30px 20px;
            width: 90%;
            height: 3px;
            border:none;
            background-color: #FDD20E;
            border-radius: 2px;
        }
        .container .loginBox button{
            width:150px;
            height:45px;
            border-radius: 10px;
            background-color: #eee;
            border: none;
            box-shadow: none;
            cursor: pointer;
            font-size: 16   px;
            font-weight: 500;
        }